

 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap');




*{
    box-sizing: border-box;
}
.font {
    font-family: 'Dancing Script', cursive;
    transition: 0.3s ease-in-out;
   
  }
  
  .font:hover {
    transform: scale(1.5); /* Change the scale to your desired value */
    color:bisque;
 
  }
  
/* #movie-backdrop {
    width: 100%;
}

.container {
    padding-top: 32px;
}

#actors {
    margin: 24px 16px 0 0;
} */

body {
    background-color: rgb(16, 18, 38);
}

